process.executor = 'slurm'
conda.enabled = true
cleanup = false
report.overwrite = true

apptainer {
      enabled = true
      autoMounts = true
      runOptions = '-B /groups -B $TMPDIR:$TMPDIR -B /groups/group-garaycoechea/'
      cacheDir = '/groups/group-garaycoechea/software/singularity/'
      }                                                                                                                                                                 
