
process {

  withLabel: Align_sum {
    cpus = 1
    time = '1:00:00'
    memory = '4G'
    clusterOptions = '--partition=short'
  }

  withLabel: wgs_metrics {
    cpus = 1
    time = '1:00:00'
    memory = '4G'
    clusterOptions = '--partition=short'
  }

  withLabel: FastQC_label {
    cpus = 4
    time = '1:00:00'
    memory = '8G'
    clusterOptions = '--partition=short'
  }

  withLabel: cutadapt {
    cpus = 4
    memory = '8G'
    time = '6:00:00'
    clusterOptions = '--partition=short'
  }

   withLabel: merge_label {
    cpus = 1
    time = '1:00:00'
    memory = '5G'
    clusterOptions = '--partition=short'
  }

  withLabel: bwa_label {
    cpus = 64
    time = '20h'
    memory = '128G'
    clusterOptions = '--partition=medium'
  }

  withLabel: picard_cleansam {
    cpus = 64
    time = '6h'
    memory = '32G'
    clusterOptions = '--partition=short'
  }  

  withLabel: samtools_fixmate {
    cpus = 64
    time = '3h'
    memory = '32G'
    clusterOptions = '--partition=short'
  }

  withLabel: samtools_sort {
    cpus = 64
    time = '4h'
    memory = '128G'
    clusterOptions = '--partition=short'
  }

  withLabel: samtools_markdup {
    cpus = 64
    time = '3h'
    memory = '128G'
    clusterOptions = '--partition=short'
  }
  
  withLabel: samtools_index {
    cpus = 64
    time = '1h'
    memory = '5G'
    clusterOptions = '--partition=short'
  }

  withLabel: strelka {
    cpus = 64
    time = '15h'
    memory = '36G'
    clusterOptions = '--partition=medium'
  }

  withLabel: mutect {
    cpus = 8
    time = '10h'
    memory = '100G'
    clusterOptions = '--partition=short'
  }

  withLabel: mutect_flag {
    cpus = 4
    time = '1h'
    memory = '8G'
    clusterOptions = '--partition=short'
  }

  withLabel: fings {
    cpus = 16
    time = '1h'
    memory = '16G'
    clusterOptions = '--partition=short'
  }

  withLabel: manta {
    time = '5h'
    cpus = 64
    memory = '50G'
    clusterOptions = '--partition=short'
  }

  withLabel: gridss {
    container = 'docker://gridss/gridss:2.13.2'
    time = '2h'
    cpus = 8
    memory = '100G'
    clusterOptions = '--partition=short'
  }

  withLabel: gridss_run {
    container = 'docker://gridss/gridss:2.13.2'
    time = '8h'
    cpus = 8
    memory = '100G'
    clusterOptions = '--partition=short'
  }

  withLabel: gridss_filter {
    time = '1h'
    cpus = 1
    memory = '10G'
    clusterOptions = '--partition=short'
  }




}
