includeConfig "MUFASA-path/nextflow/configs/process.config"
includeConfig "MUFASA-path/nextflow/configs/nextflow.config"

params {
  project_name = "ProjectName"
  project_dir = "project_dir/"
  
  start_from = "bam" //either "bam" or "fastq", adjust the sample list accordingly
  bam_only = false  // process stop after mark duplication  
  cram = false // if true, convert dup-marked bam to cram and stop

  samples = "${project_dir}/samples.csv"
  //if bam, input csv file in a format of: 
  //sampleID,path_to_bam,path_to_bai
  
  //if fastq, input csv file in a format of: 
  //sampleID,path_to_R1.fq.gz,path_to_R2.fq.gz
  //multiple lanes sequenced sample could be listed with the same sampleID, which will be merged in the pipeline

  strelka_conf = "${project_dir}/tumor_normal_pairs.csv"
  
  ext_bam = "${project_dir}/ext_bam.csv" 
  // "null" or path to a bam sample list. In case of using mapped normal.
  
  pon = "${params.resource_dir}/PoN/*.variants.vcf.gz"
  blacklist = "${params.resource_dir}excluderanges/mm39.excluderanges.bed"
  gridss_ref = "BSgenome.Mmusculus.UCSC.mm39"
  base_dir = "MUFASA-path/"
  resource_dir = "path_to_references_mm39/"
  ref = "${params.resource_dir}/mm39.fa"
  script_dir = "${base_dir}/scripts/"
  fastq_path = "${project_dir}FASTQ/"
  merged_dir = "${project_dir}FASTQ/MERGED/"
  fastqc_path = "${project_dir}FASTQC/"
  mapping_dir = "${project_dir}MAPPING/"
  strelka = "${project_dir}Strelka/"
  manta = "${project_dir}Manta/"
  gridss = "${project_dir}Gridss/"
  structural = "${project_dir}Structural/"
  mutect = "${project_dir}Mutect/"
  filtered_dir = "${project_dir}/Filtered/"
  snvs_filtered = "${project_dir}/snvs_Filtered/"
  indel_filtered = "${project_dir}/indel_Filtered/"
  pdf_path = "${project_dir}/PDFs/"
  chrs = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "X", "Y", "M"]
  nrChrs = 22
  fings = "${project_dir}/filter_parameters.txt"
  callable_depth = 5
  minvaf = 0.3
  maxvaf = 0.7
}